Options -MultiViews
RewriteEngine On

RewriteBase /www/stage/plateforme_partage/public/

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]